<mat-form-field appearance="fill">
  <mat-label>Table fields</mat-label>
  <mat-select [formControl]="tableFieldsControl" multiple>
    <mat-select-trigger>
      {{tableFieldsControl.value[0] || ''}}
      <span *ngIf="(tableFieldsControl.value.length || 0) > 1" class="example-additional-selection">
        (+{{tableFieldsControl.value.length || 0}} {{tableFieldsControl.value.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let field of tableFields" [value]="field">{{field}}</mat-option>
  </mat-select>
</mat-form-field>

<table class="table">
  <thead class="table-headers">
  <tr>
    <th
      class="thTable-header"
      [attr.data-sortheadervalue]="header"
      *ngFor="let header of tableFieldsControl.value">
      <app-table-header
        [field] = "header"
        (sortChange)="sortBy($event)"
      ></app-table-header>
    </th>
  </tr>
  </thead>
  <tbody class="table-body">
  <tr *ngFor="let item of tableDataSource">
    <td *ngFor="let itemParam of tableFieldsControl.value">{{item[itemParam]}}</td>
  </tr>
  </tbody>
</table>

